<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="${pageContext.request.contextPath}/css/stylesheet.css" />
  <title>Chollo Informacion</title>

</head>
<body>
  <h1 id="maintitle">Chollo</h1>
	<br>
	<br>
	<br>
	<br>
  <form data-ng-submit="cholloHandlerVM.functions.cholloHandlerSwitcher()" >
  <input type="hidden" name="id" data-ng-model="cholloHandlerVM.chollo.id" >
    <div>
  
      <label for="name">Titulo:</label> 
      <input class="personaldata" type="text" name="title" id="name" placeholder="Nombre del chollo" 
      data-ng-model="cholloHandlerVM.chollo.title"  required/>
    </div>
    <div>
      <label for="desc">Descripcion:</label> 
      <input class="personaldata" type="text" name="description" id="desc" placeholder="Descripcion del chollo ..." 
      data-ng-model="cholloHandlerVM.chollo.description" required/>
    </div>
    <div>
      <label for="link">Link Tienda:</label>
      <input class="personaldata" type="url" name="link" id="link" placeholder="www.tuTienda.com" 
      data-ng-model="cholloHandlerVM.chollo.link" required >  
    </div>
     
    <div>
      <label for="price">Precio:</label>
      <input class="personaldata" type="number" name="price" id="price" placeholder="0" 
      data-ng-model="cholloHandlerVM.chollo.price" required >  
    </div>
    <div>
      <label for="soldout">Soldout:</label>
      <input  class="personaldata" type="number" name="soldout" id="soldout" placeholder="0" 
      data-ng-model="cholloHandlerVM.chollo.soldout" required >  
    </div>
      
			  
	
	<input id="button" type="submit" value="Delete Chollo" 
        	data-ng-show="cholloHandlerVM.functions.where('/deleteChollo/'+cholloHandlerVM.chollo.id)"/>
      	<input id="button" type="submit" value="Editar Chollo" 
      		data-ng-show="cholloHandlerVM.functions.where('/editChollo/'+cholloHandlerVM.chollo.id)"/>
      	<input id="button" type="submit" value="Insertar Chollo" 
      		data-ng-show="cholloHandlerVM.functions.where('/insertChollo')"/>
	
	
	
	
    </form>
</body>
</html>

