  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <p>Buscador de chollos</p>
            <form data-ng-submit="listVM.functions.buscar()">      
                <input type="text" placeholder="¿Que estas buscando?" id="buscador" name="buscar" data-ng-model="listVM.busca">
                <button type="submit" id="boton" value="Buscar" >Buscar chollo</button>
            </form>
        
        <ul>					
		<li><a href="#!/likesDescendentes">Filtrar por likes descendente</a></li>
		</ul>
		
		
		<ul>
		<li><a>Buscar chollos con un número mínimo de likes</a></li>
		</ul>
		<form data-ng-submit="listVM.functions.buscarLikes()">      
                <input type="number" placeholder="Likes" id="buscador" name="buscarLikes" data-ng-model="listVM.buscaLike">
                <button type="submit" id="boton" value="BuscarConLikes">Buscar</button>
        </form>
        
        <ul>
		<li><a href="#!/disponibles">Mostrar chollos disponibles</a></li>
        </ul>
          <br>
          <br>
		<h2> List of chollos:</h2>
		
		
		
		
		
	<table>
		<thead>
			<tr>
				
				<th>Titulo</th>
				<th>Descripcion</th>
				<th>Link</th>
				<th>Precio</th>
				<th>Likes</th>
				<th>Like</th>
				<th>Dislike</th>
				<th>Disponibilidad</th>
			</tr>
		</thead>
		<tbody>
			<tr class="chollos" data-ng-repeat="chollo in listVM.chollos"> 
				<td>{{ chollo.title }}</td>
				<td>{{ chollo.description }}</td>
	    		<td>{{ chollo.link }}</td>
				<td>{{ chollo.price }}</td>
				<td>{{ chollo.likes }}</td>
				<td class="icono">
				<div data-ng-controller="listCtrl as listVM">
					 <form data-ng-submit="listVM.functions.sumarLikeChollo(chollo.id)" >
					 	<button type="submit" value="Sumar Like" onclick="location.reload()">Like</button>
					 	<img data-ng-src="../img/Like.PNG" alt="like" width="40px"/>
					 </form>
					 
				</div>
				 </td>
				<td class="icono">
					<div data-ng-controller="listCtrl as listVM">
					 <form data-ng-submit="listVM.functions.restarLikeChollo(chollo.id)" >
					 	<button type="submit" value="Restar Like" onclick="location.reload()">Dislike</button>
					 	<img data-ng-src="../img/Dislike.PNG" alt="like" width="40px"/>
					 </form>
					 
				</div>
					
					
				 </td>
				<td><a ng-if= " chollo.soldout == 0">Disponible</a>
					<a ng-if= " chollo.soldout == 1">Agotado</a>
				
				
				
				</td>
				
    		</tr>
		</tbody>	
	</table>
		    
